include INSTALL
include README
include LICENSE
include MANIFEST

include l1l2py/tests/*.mat

include doc/*
include doc/_static/*
recursive-include doc/slipGURUTheme *
recursive-include doc/tutorial *.txt *.py
