include INSTALL
include README
include LICENSE

include l1l2py/tests/data.txt

include doc/*
include doc/_static/*
recursive-include doc/slipGURUTheme *
recursive-include doc/tutorial *.txt *.py

exclude doc/slipGURUTheme/logos_src/*
