# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
libgfortran=3.0.0=1
mkl=2017.0.1=0
numpy=1.12.0=py27_0
openssl=1.0.2k=0
readline=6.2=2
scikit-learn=0.18.1=np112py27_1
scipy=0.18.1=np112py27_1
sqlite=3.13.0=0
tk=8.5.18=0
zlib=1.2.8=3
